In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/guinascim/Ironhack/main/Analytics%20P4%20-%20analitics.csv.csv")
df.head()

,Date,Users,New Users,Earnings (EUR),Page views,Page RPM (EUR),Impressions,Impression RPM (EUR),Active View Viewable,Clicks
0,01/07/2023,39,32,3.71,231,16.05,468,7.92,0.6688,10
1,02/07/2023,157,130,33.46,1020,32.81,2203,15.19,0.6966,112
2,03/07/2023,195,169,10.56,898,11.76,1922,5.50,0.6702,50
3,04/07/2023,84,68,3.12,341,9.14,894,3.49,0.6831,16
4,05/07/2023,67,58,10.15,337,30.13,762,13.32,0.6922,27

In [4]:
df = df.rename(columns={'Earnings (EUR)': 'Earnings'})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.strip().str.replace(' ', '_')
df.head()

,date,users,new_users,earnings,page_views,page_rpm_(eur),impressions,impression_rpm_(eur),active_view_viewable,clicks
0,01/07/2023,39,32,3.71,231,16.05,468,7.92,0.6688,10
1,02/07/2023,157,130,33.46,1020,32.81,2203,15.19,0.6966,112
2,03/07/2023,195,169,10.56,898,11.76,1922,5.50,0.6702,50
3,04/07/2023,84,68,3.12,341,9.14,894,3.49,0.6831,16
4,05/07/2023,67,58,10.15,337,30.13,762,13.32,0.6922,27

In [6]:
file_path = ("/Users/adimalik/Documents/Iron Hack/Projects/Week 4/P4_Cleaned.csv"")

df.to_csv(file_path, index=False)

SyntaxError: unterminated string literal (detected at line 1) (2193557111.py, line 1)